<!DOCTYPE html>
<html>

<head>
    <title>Flash Cards</title>
    <!-- We've provided some styles for you, aren't we nice? -->
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="directives/loader/loader.js"></script>
    <script src="main.controller.js"></script>
    <script src="directives/flash-card/flashCard.js"></script>
    <script src="stats.controller.js"></script>
</head>

<body ng-app="flashCards" ng-controller="MainController">

        <loader  ng-show="loading"></loader>

        <div ng-hide="loading">
            <div ng-controller="StatsController" id="statistics">
                <div id="scoreboard">
                    <h3>Correct: <span>{{ scores.correct }}</span></h3>
                    <h3>Incorrect: <span>{{ scores.incorrect }}</span></h3>
                </div>
            </div>
            <button class="category-button" ng-class="{ active: currentCategory === category }" ng-repeat="category in categories" ng-click="getCategoryCards(category)">{{ category }}</button>
            <button class="category-button" ng-click="resetCategory()">Reset</button>
            <div ng-repeat="flashCard in flashCards | orderBy : 'question'" class="flash-card">
                <flash-card flash-card=flashCard></flash-card>
            </div>
        </div>

</body>

</html>