<!DOCTYPE html>
<html>

<head>
    <title>Flash Cards</title>
    <!-- We've provided some styles for you, aren't we nice? -->
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="directives/loader/loader.js"></script>
    <script src="main.controller.js"></script>
    <script src="directives/stats/stats.js"></script>
    <script src="directives/flash-card/flashCard.js"></script>
    <script src="stats.controller.js"></script>
</head>

<body ng-app="flashCards" ng-controller="MainController">

        <loader  ng-show="loading"></loader>

        <div ng-hide="loading">
            <stats></stats>
            <div style="text-align: center">
                <button class="category-button" ng-class="{ active: currentCategory === category }" ng-repeat="category in categories" ng-click="getCategoryCards(category)">{{ category }}</button>
                <button class="category-button" ng-click="resetCategory()">Reset</button>
            </div>
            <div ng-repeat="flashCard in flashCards | getCategory : currentCategory |orderBy : 'question'" class="flash-card">
                <flash-card flash-card=flashCard></flash-card>
            </div>
        </div>

</body>

</html>